<!-- <section id="wrapper" class="login-register login-sidebar">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal form-material" id="loginform" novalidate>
        <a href="javascript:void(0)" class="text-center db logo-container">
        </a>
        <h3 class="box-title m-t-40 m-b-0">Sign In</h3>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <app-form-error-wrapper [control]="loginForm.controls['username']" [controlName]="'Username'">
              <input class="form-control" type="text" formControlName="username" placeholder="Username">
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <app-form-error-wrapper [control]="loginForm.controls['password']" [controlName]="'Password'">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="custom-control custom-checkbox pull-left p-t-0">
              <input id="checkbox-signup" class="custom-control-input" type="checkbox">
              <label for="checkbox-signup" class="custom-control-label"> Remember me </label>
            </div>
            <span class="pull-right">
              Forgot
              <a href="javascript:void(0)" id="to-recover"> Password</a>? </span>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" [disabled]="loginForm.invalid || isLoading">
              <app-button-loader [isLoading]="isLoading" [label]="'Log In'"></app-button-loader>
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Don't have an account?
              <a class="text-info m-l-5" [routerLink]="['/signup']">
                <b>Sign Up</b>
              </a>
            </p>
          </div>
        </div>
      </form>
      <form [formGroup]="resetPasswordForm" class="form-horizontal" id="recoverform" novalidate>
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" formControlName="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [routerLink]="['/login']">Reset</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section> -->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form">
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Username</span>
            <app-form-error-wrapper [control]="loginForm.controls['email']" [controlName]="'Email'">
              <input class="form-control" type="email" formControlName="email" placeholder="Type your email">
            </app-form-error-wrapper>
            <!-- <span class="focus-input100"></span> -->
          </div>
          <div class="wrap-input100 validate-input">
            <span class="label-input100">Password</span>
            <app-form-error-wrapper [control]="loginForm.controls['password']" [controlName]="'Password'">
              <input class="form-control" type="password" formControlName="password" placeholder="Type your password">
            </app-form-error-wrapper>
            <!-- <span class="focus-input100 password"></span> -->
          </div>
          <div class="text-right p-t-8 p-b-31">
            <a href="#">
              Forgot password?
            </a>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <button class="btn btn-primary">
                Login
              </button>
            </div>
          </div>
          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
              Or Sign Up Using
            </span>
          </div>
          <div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </form>
        <div class="copy-text">Created with
          <i class="fa fa-heart"></i> by
          <a href="http://stoto.co.za">Sandiso Toto</a>
        </div>
      </div>
      <div class="col-md-8 banner-sec">
        <div class="signup__overlay"></div>
        <div class="banner">
          <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item">
                <h1>Ride</h1>
              </div>
              <div class="carousel-item">
                <h1>With</h1>
              </div>
              <div class="carousel-item active">
                <h1>Lula</h1>
              </div>
              <div class="carousel-item">
                <h1>Connecting</h1>
              </div>
              <div class="carousel-item">
                <h1>Corporate communities</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>